---
import { site } from "../data/site";
---

<footer class="footer">
  <p>
    © 2026 {site.name}. Desarrollo de apps, música, quiromasaje y proyectos personales.
  </p>

  <p class="footer-alias">{site.alias}</p>
</footer>