---
import { site } from "../data/site";
---

<nav class="navbar">
  <a href="/" class="logo">
    {site.name}<span>.</span>
  </a>

  <div class="nav-links">
    <a href="/apps">Apps</a>
    <a href="/musica">Música</a>
    <a href="/quiromasaje">Quiromasaje</a>
    <a href="/galeria">Galería</a>
    <a href="/sobre-mi">Sobre mí</a>
    <a href="/contacto">Contacto</a>
  </div>
</nav>